body{
    background: url(vliegtuigje.jpg);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    margin: 0
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.toevoegen{
    margin-left: 15%;
    margin-top: 5%;
    font-size: 25px;
    color: black;
}